.block-26 {
    --block-background: white;
    --block-text-color: var(--text-primary);
    background: var(--block-background);
    color: var(--block-text-color);
    padding-top: 5.8rem;
    padding-bottom: 5.8rem
  }
  
  .block-26__title {
    font-size: 2.1rem;
    font-weight: 600
  }
  
  .block-26__heading {
    font-size: .87rem;
    font-weight: 600;
    opacity: .8;
    margin-bottom: .5rem
  }
  
  .block-26__item {
    opacity: .8;
    margin-bottom: .4rem
  }